@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");

.b-example-divider {
  height: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

* {
  text-decoration: none;
  color: black;
  user-select: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.form-control-dark {
  color: #fff;
}

.form-control {
  margin-bottom: 10px;
  height: 20px;
}

.about-button {
  margin-top: 50px;
}

.form-control-dark:focus {
  color: #fff;
  border-color: #fff;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

.nav-link:hover {
  background-color: #0d6efd;
  color: white;
}

.nav-pills {
  font-weight: 600;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  border: 1px solid darkgray;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav ul {
  left: 0;
  text-align: center;
  align-items: center;
  font-weight: 600;
  list-style-type: none;
}

.sidenav li:hover {
  cursor: pointer;
  background-color: #0d6efd;
  color: white;
}

.sidenav ul:first-child {
  margin-top: 200px;
}

.sidenav li {
  border-radius: 5px;
  margin-right: 10px;
  padding: 5px;
  margin-bottom: 30px;

  background-color: white;
  color: #0d6efd;
}

.sidenav:first-child {
  margin-top: 1000px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  cursor: pointer;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0 10px;
}

.save-button {
  border: 5px solid #0d6efd;
  position: fixed;
  font-weight: 600;
  font-size: 42px;
  color: #0d6efd;
  background-color: white;
  margin-left: 900px;
  margin-right: auto;
  margin-top: 750px;
  padding: 5px 5px;
  border-radius: 5px;
}

.save-button:hover {
  background-color: #0d6efd;
  color: white;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.question-block {
  border: 3px solid #0d6efd;
  border-radius: 30px;
  margin-left: 180px;
  margin-right: 20px;
  margin-top: 30px;
  padding: 10px;
}

.question-block h1 {
  font-size: 24px;
}

.form-control {
  max-width: 1000px;
}
