@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");

* {
  text-decoration: none;
  color: black;
  user-select: none;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.test-block {
  border: 1px solid black;
  border-radius: 30px;
  margin-bottom: 10px;
  cursor: pointer;
}

.test-block:hover {
  box-shadow: 10px 5px 5px #0d6efd;
}

.content h1 {
  margin-top: 80px;
}

.content h1:first-child {
  margin-top: 50px;
}

.content {
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 400px;
}

.content h1 {
  margin-left: 540px;
}

.front-tests {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-column-gap: 20px;
}

.back-tests {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-column-gap: 20px;
}

.full-tests {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-column-gap: 20px;
}

.b-example-divider {
  height: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.form-control-dark {
  color: #fff;
}

.nav-link:hover {
  background-color: #0d6efd;
  color: white;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}
