@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");

* {
  text-decoration: none;
  color: black;
  user-select: none;
  font-family: "Montserrat", sans-serif;
}

.choose-sort-type {
  margin-top: 50px;
  border: 3px solid #0d6efd;
  padding: 8px;
  max-width: 250px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-bottom: -10px;
}

.choose-sort-type p {
  margin-left: 15px;
}

.b-example-divider {
  height: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.nav-link:hover {
  border-radius: 5px;
  background-color: #0d6efd;
  color: white;
}

.buttons {
  margin-left: 1000px;
}

.thead {
  background-color: #0d6efd;
}

.thead th {
  color: white;
}
