@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");

* {
  text-decoration: none;
  color: black;
  user-select: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.button-back {
  padding: 6.6px;
  background-color: white;
  color: black;
  border: none;
}
.button-back:hover {
  background-color: black;
  color: white;
  border-radius: 5px;
}
.b-example-divider {
  height: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}
.user-info {
  list-style-type: none;
  border: 3px solid black;
  border-radius: 30px;
  max-width: 300px;
  align-items: center;
  margin-left: 800px;
  margin-top: 50px;
  margin-bottom: 50px;
}
