@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");

* {
  text-decoration: none;
  color: black;
  user-select: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.button-back {
  cursor: pointer;
  padding: 6.6px;
  background-color: white;
  color: black;
  border: none;
}

.button-back:hover {
  background-color: black;
  color: white;
  border-radius: 5px;
}

.b-example-divider {
  height: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.info {
  list-style-type: none;
  border: 3px solid black;
  border-radius: 30px;
  max-width: 300px;
  align-items: center;
  margin-left: 800px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#texts_for_question {
  margin-top: 3%;
  margin-left: 30%;
}

.form_radio_btn {
  display: inline-block;
}

.form_radio_btn input[type="radio"] {
  display: none;
}

.form_radio_btn label {
  display: inline-block;
  cursor: pointer;
  padding: 0px 15px;
  line-height: 34px;
  border: 1px solid #999;
  border-radius: 6px;
  user-select: none;
}

.form_radio_btn input[type="radio"]:checked + label {
  background: black;
  color: white;
}

.form_radio_btn label:hover {
  color: #666;
}

.form_radio_btn input[type="radio"]:disabled + label {
  background: #efefef;
  color: #666;
}

#btnBack {
  left: 88%;
}

.text {
  font-family: "Montserrat", sans-serif;
  color: #4682b4;
  font-weight: bold;
  margin-left: 3%;
}

#btnBack:hover:after {
  border-color: #ffffff;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
}

.double-border-button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: 0.4s;
}

#btnBack {
  text-decoration: none;
  display: inline-block;
  margin: 10px 20px;
  padding: 10px 30px;
  position: relative;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  transition: 0.4s;
}

.choose-settings {
  align-items: center;
  text-align: center;
}

.save-button {
  margin-top: 50px;
  margin-left: 930px;
  background-color: white;
  color: black;
  border: none;
  padding: 8px;
}

.save-button:hover {
  background-color: black;
  color: white;
  border-radius: 5px;
}
