@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");

* {
  text-decoration: none;
  color: black;
  user-select: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.btn-leave {
  background-color: black;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-top: 200px;
  margin-left: 900px;
}

.btn-leave:hover {
  background-color: white;
  color: black;
}

.my-window {
  margin-right: 100px;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 30px;
  width: 720px;
  height: 480px;
}

.admin-window {
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 30px;
  width: 720px;
  height: 480px;
}

.windows {
  margin-left: 190px;
  margin-top: 100px;
  display: flex;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  background-color: black;
  color: white;
}

.b-example-divider {
  height: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1180px) {
  .windows {
    margin-top: 50px;
    margin-left: 220px;
    display: flex;
    flex-direction: column;
  }

  .admin-window {
    margin-top: 50px;
  }

  .btn-primary {
    margin-left: 510px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .btn-primary:hover {
    background-color: white;
    color: black;
  }
}

@media screen and (max-width: 820px) {
  .btn-primary {
    margin: 0;
  }

  .windows {
    margin-right: 100px;
    display: flex;
    flex-direction: column;
  }
}
